*.o
*.lo
*.so
.dirstamp
hostfs/*
*.la
configs/*.cfg
cmos/*.bin
roms/*
!roms/*.txt
arc.cfg
config.log
config.status
modules.dmp
.libs/
arclog.txt
aka31_log.txt
autom4te.cache
Makefile
libtool
arculator